In [ ]:
class Employee:
    pass

In [ ]:
emp1 = Employee()
emp2 = Employee()

In [ ]:
print(emp1)   # object of a class

In [ ]:
print(emp2)

In [ ]:
emp1.first = 'Riya'
emp1.last = 'Patel'
emp1.salary = 50000

In [ ]:
emp2.first = 'Akash'
emp2.last = 'Jadhav'
emp2.salary = 49500

In [ ]:
print(emp1.salary)

In [ ]:
print(emp2.last)

In [31]:
class Employee:

    def __init__ (self, first, last, salary):
        self.first = first
        self.last = last
        self.salary = salary

    def yrsal(self):
        print(f"yearly salary is {self.salary * 12}")

In [33]:
emp1 = Employee('Riya', 'Patel', 50000)
emp2 = Employee('Akash', 'Jadhav', 49500)

In [35]:
emp1.last

'Patel'

In [ ]:
emp1.yrsal()

In [39]:
class Employee2(Employee):
    pass

In [41]:
emp3 = Employee2('Ajit', 'Mane', 43000)

In [43]:
emp3.yrsal()

yearly salary is 516000

### Encapsulation

In [92]:
class Employee:

    def __init__ (self, first, last, salary):
        self.first = first
        self.last = last
        self.__salary = salary # private variable

    def get_sal(self):     # getter method
        return self.__salary

    def set_sal(self, other):   # setter
        self.__salary = other
    
    '''def yrsal(self):
        print("yearly salary is", self.salary * 12)'''

In [94]:
emp1 = Employee('Riya', 'Patel', 50000)
emp2 = Employee('Akash', 'Jadhav', 49500)

In [96]:
emp1.salary

AttributeError: 'Employee' object has no attribute 'salary'

In [98]:
emp1.get_sal()

50000

In [100]:
emp1.set_sal(100000)

In [102]:
emp1.get_sal()

100000

In [104]:
# magic method/ dunder method

In [114]:
class Employee:

    def __init__ (self, first, last, salary):
        self.first = first
        self.last = last
        self.salary = salary

    def __str__(self):
        return f"first:{self.first}, last: {self.last}, salary: {self.salary}"

    def yrsal(self):
        print(f"yearly salary is {self.salary * 12}")

In [116]:
emp1 = Employee('Riya', 'Patel', 50000)
emp2 = Employee('Akash', 'Jadhav', 49500)

In [118]:
print(emp1)

first:Riya, last: Patel, salary: 50000

In [112]:
dir(emp1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'first',
 'last',
 'salary',
 'yrsal']